<article class="card-body">
    <form>
        
            <div class="form-group">
                <label>School name</label>
                    <input type="text" class="form-control" placeholder="">
            </div> <!-- form-group end.// -->
                    <!-- form-row end.// -->
            <div class="form-group">
                <label>Address</label>
                    <textarea class="form-control" placeholder=""></textarea>
            </div> <!-- form-group end.// -->
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Registration No</label>
                        <input type="text" class="form-control">
                      </div> <!-- form-group end.// -->
                      <div class="form-group col-md-6">
                        <label>Contact</label>
                        <input type="text" class="form-control">
                      </div> <!-- form-group end.// -->
                </div>
                <div class="form-group">
                    <label>Email address</label>
                    <input type="email" class="form-control" placeholder="">
                    <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div> <!-- form-group end.// -->
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label>State</label>
                      <input type="text" class="form-control">
                    </div> <!-- form-group end.// -->
                    <div class="form-group col-md-6">
                      <label>Country</label>
                      <select id="inputState" class="form-control">
                        <option selected="selected" disabled="true"> Choose...</option>
                          <option>Uzbekistan</option>
                          <option>Russia</option>
                          <option>United States</option>
                          <option>India</option>
                          <option>Afganistan</option>
                      </select>
                    </div> <!-- form-group end.// -->
                </div> <!-- form-row.// -->
                <div class="form-group">
                  <label>Username</label>
                  <input class="form-control" type="text">
              </div> <!-- form-group end.// --> 
                <div class="form-group">
                    <label>Password</label>
                    <input class="form-control" type="password">
                </div> <!-- form-group end.// -->  
                <div class="form-group">
                    <label>Confirm password</label>
                    <input class="form-control" type="password">
                </div> <!-- form-group end.// --> 
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> SignUp  </button>
                </div> <!-- form-group// -->      
                <small class="text-muted">By clicking the 'Sign Up' button, you confirm that you accept our <br> Terms of use and Privacy Policy.</small>                                          
    </form>
</article> <!-- card-body end .// -->
        